* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  min-width: 375px;
}

/* HEADER */

.header {
  background-image: url(./assets/background/mobile-background.png);
  background-size: cover;
}

.mobile-menu {
  display: none;
  background-color: #272a31;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu-mobile-line {
  border: 1px solid #ec5242;
  margin-right: 5%;
}

.menu-mobile-list {
  list-style: none;
  padding-left: 5%;
}

.menu-mobile-list-itens {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-section {
  padding-top: 30px;
  padding-left: 4%;
  padding-right: 4%;
}

.event-call {
  font-size: 20px;
  font-weight: 400;
}

.event-name {
  font-size: 58px;
  font-weight: 900;
  line-height: 1;
  color: transparent;
  background-image: url(./assets/background/letter-pattern.png);
  background-clip: text;
  -webkit-background-clip: text;
  padding-bottom: 20px;
}

.event-desc {
  border: 3px solid #fff;
  padding: 10px;
  background-color: #f7f5f5;
}

.event-date {
  padding-top: 15px;
}

.event-place {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 40px;
}

/* SECTION ONE */

.section-one {
  background-image: url(./assets/background/section-one-pattern.jpg);
}

.section-one-title {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.section-one-line {
  border: 1px solid #ec5242;
  width: 10%;
  margin-left: 46%;
}

.program-card {
  display: flex;
  gap: 20px;
  padding-left: 5%;
  background-color: rgba(61, 64, 71, 0.5);
  margin: 3%;
}

.program-card-name {
  font-weight: bold;
  padding-top: 5%;
}

.program-btn {
  display: flex;
  background-color: #ec5242;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  margin: 8% 18%;
}

/* GLOBAL */

.color-one {
  color: #272a31;
}

.color-two {
  color: #ec5242;
}

.color-three {
  color: #d3d3d3;
}

.unic-font {
  font-family: 'lato', sans-serif;
}

.no-underscore {
  text-decoration: none;
}

.fa-x {
  color: #d3d3d3;
  padding-top: 15px;
  padding-left: 90%;
}

.fa-bars {
  font-size: 32px;
  padding-top: 15px;
  padding-left: 6%;
}

.card-icons {
  font-size: 32px;
  padding-top: 10%;
}
